@model AdManager001.Models.Campaign

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Campaign</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Revenue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Revenue) @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Budget)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Budget) @Html.DisplayFor(model => model.Currency)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ClickUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ClickUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BannerImageUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BannerImageUrl)
            (@Html.DisplayFor(model => model.BannerImageWidth) x @Html.DisplayFor(model => model.BannerImageHeight))
            <br />
            <a href="@Model.ClickUrl" target="_blank">
                <img src="@Model.BannerImageUrl" width="@Model.BannerImageWidth" height="@Model.BannerImageHeight" />
            </a>
        </dd>
        @*
        <dt>
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.User.Id)
        </dd>
        *@
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
